<span style='color: #000'>171 frames</span>	<span style='color: #900'>37,376 KB</span>	<span style='color: #090'>3,775.22 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />